[user]
	name = Sidney Liebrand
	email = sidneyliebrand@gmail.com
[core]
	editor = nano
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[push]
	default = matching
[color]
	branch = auto
	status = auto
	diff = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	d = difftool
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
